<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>ejs-view test</title>
    </head>
    <body>
        <h1>ejs-view test</h1>
        <div>name : <%= name %></div>
    </body>
    <script>
    </script>
</html>